<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Logo -->
    <div class="d-flex topBar text-white-50 p-4 justify-content-between">
        <div>ASP.NET MVC CRUD</div>
        @if (Session["Name"] != null)
        {
            @Html.ActionLink("Logout", "Logout", "Login")
        }
    </div>

    <div class="container py-3">
        @RenderBody()
    </div>

    <!-- Footer -->
    <div class="container">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
