@model IEnumerable<ASPNETMVCCRUD.Models.User>

@{
    ViewBag.Title = "List of Users";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped my-4">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class=@item.Color>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                @if (Convert.ToBoolean(Session["Role"]))
                {
                    <td>
                        @Html.ActionLink("Edit", "UpdateUser", new { id = item.Id }) |
                        @Html.ActionLink("Details", "UserDetails", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "DeleteUser", new { id = item.Id })
                    </td>
                }
                else
                {
                    <td>
                        @Html.ActionLink("Details", "UserDetails", new { id = item.Id })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
